{% load blog_tags %}
{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>
    <link href="{% static "css/blog.css" %}" rel="stylesheet">
</head>
<body>

<div id="content">
    {% block content %} {% endblock %}
</div>

<div id="sidebar">
    <h2> Блог Анастасии Петровой </h2>
    <p> Всем привет! Меня зовут Настя, я студентка 1 курса университета ИТМО и это мой блог, в котром я хотела бы
        делиться полезными статьями по саморазвитию и мотивации. Также вы сможете найти тут посты о книгах и фильмах и
        рецепты полезных блюд. Добро пожаловать!</p>

    <a href="http://vk.com/nancypetrova">Вконтакте </a>
    <p>Всего записей: <b>{% total_posts %}</b></p>
    <h3>Последние записи:</h3>
    {% show_latest_posts 5 %}

    <h3> Самое комментируемое:</h3>
    {% get_most_commented_posts as get_most_commented_posts %}
    <ul>
        {% for post in get_most_commented_posts %}
            <li>
                <a href="{{ post.get_absolute_url }}">{{ post.title }}</a>
            </li>
        {% endfor %}

    </ul>


</div>

</body>
</html>
